body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4c88b8;
}

.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #97B8DA;
        border-radius: 15px ;

}

h1 {
    text-align: center;
    color: #000;
    padding: 20px;
}

h2{
    text-align: center;
    color: #000;
    padding: 20px;
}

label{
    color: #000;
    font-size: 17px;
}

#Uname{
    width: 370px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#Pass{
    width: 370px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

#log{
    width: 380px;
    height: 30px;
    border: none;
    border-radius: 17px;
    color: #000;
    align-items: center;
}

span{
    color: #000;
    font-size: 17px;
}

a{
    float: right;
    text-decoration: none;
    
}